<!DOCTYPE HTML>
<html>
  <head>
    <title>Add Stock</title>
    <link th:href="@{/addStock.css}" rel="stylesheet">
  </head>    
  <body>
    <div class="topnav">
      <a th:href="@{/}">AddStock</a>
      <a th:href="@{/index}">Liquor</a>
    </div>   
    <div class="container">
      <h2>Update Liquors Stock </h2>
      <form method="post" th:object="${stock}" th:action="@{/handleSubmit}"> 
        <input type="text" placeholder="brandName" th:field="*{brandName}" required>
        <input type="text" placeholder="ratePerLitre" th:field="*{ratePerLitre}" required>  
        <input type="text" placeholder="stockAvailable" th:field="*{stockAvailable}" required>
        <input type="hidden" th:field="*{id}">
        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
</body>
</html>