<!DOCTYPE>
<html>
  <head> 
    <title>LiquorsLand</title>
    <link th:href="@{/index.css}" rel="stylesheet">
  </head>
  <body>

    <div class="topnav">
      <a th:href="@{/}">AddStock</a>
      <a th:href="@{/index}">Liquor</a>
    </div>

    <div class= "container">
      <h2 > Liquors </h2>
      <table id="table"> 
        <tr>
          <th>BrandName</th>
          <th>RatePerLitre</th>
          <th>StockAvailable</th>
        </tr>
        <tr th:each="wine: ${wines}">
          <td th:text="${wine.brandName}"></td>
          <td th:text="${wine.ratePerLitre}"></td>
          <td th:text="${wine.stockAvailable}"></td>
          <td> <a role="button" class="update" th:href="@{/(id = ${wine.id})}">Update</a> </td>
        </tr>
      </table>
    </div>
    
  </body>
</html>